body{
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
}
div{
    width:50%;
    height:50%;
    background-color: aqua;
    border: 1px solid black;
}
.content{
    width:20%;
    margin:20px 50px;
    font-size: 2rem;
    
    text-align:center
}
button{
margin: 20px 50px;
background-color: chartreuse;
border:1px solid black;
}
#demo{
    text-align: center;
}