body{
  width:100vw;
  height:100vh;
  display:flex;
  justify-content: center;
  background-color:rgb(205, 235, 235) ;
  align-items:center 
}
ul{
    background-color: rgb(177, 74, 180);
    border-radius:10px;
    height:50%;
    width:35%
    
}
li{
    margin:20px 0px;
}